@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url('../images/woods-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

button, a {
    cursor: pointer;
}

#superior-menu {
    height: 6.25rem;
    display: flex;
}

#superior-menu .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

#superior-menu .logo span {
    font: bold 3rem 'Poppins';
    margin-right: 5px;
}

body > #game-types {
    display: flex;
    gap: 1.875rem;
    justify-content: center;
}

.game-type {
    background-image: linear-gradient(#00BFA5, #414153 80%);
    max-height: 44.375rem;
    height: 70vh;
    min-height: 43.063rem;
    width: 35.5rem;
    border-radius: 0.313rem;
    color: #ECECEE;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.25rem;
}

.game-type .header-image {
    min-height: 12.5rem;
    margin-bottom: 0.625rem;
}

.game-type .header-image img {
    width: 100%;
    max-height: 18.313rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.game-type .card-body {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.game-type .card-body .title {
    font: 700 2rem 'Maven Pro';

}

.game-type .card-body p {
    font: 1.2rem 'Open Sans';
    width: 32.5rem;
    height: 25rem;
    max-height: 13.813rem;
    overflow-y: hidden;
}

.game-type .play-button {
    border-radius: 0.5rem;
    /*border: solid 4px #02DAB3;*/
    border: none;

    background-color: #4cc3c4;
    /*color: #ECECEE;*/
    color: #202020;
    font: 700 1.5rem 'Maven Pro';

    width: 13.75rem;
    height: 2.813rem;

    display: block;
    margin: 0 auto;

    transition: width .3s, height .3s, background-color .3s, color .3s;
}

.game-type .play-button:hover {
    width: 14.375rem;
    height: 3.125rem;
    background-color: #63cdcd;
    color: #333333;
}

.game-type .play-button:focus {
    outline: 0;
}